/* Write your CSS here */
.con {
  background-image: url(https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Bree Serif;
}
.list-container {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}
.image {
  width: 150px;
  height: 180px;
}
